.container {
    display: flex;
    justify-content: center;
}

.community {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.community h1 {
    margin: 0;
    font-weight: 700;
    font-size: 1.75rem;
}

.community p {
    font-size: 1.1rem;
    line-height: 1.35rem;
}

.community a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 1rem;
    color: white;
    border-radius: 5px;
    background-color: #404eed;
}

.community a:hover {
    filter: brightness(120%);
}