:root {
    --fade-in-delay: 0.5s;
    --fade-in-duration: 1s;
}

.flashy {
    animation: flashy 2s linear infinite; 
}

@keyframes flashy {
    0% {fill: red;}
    25% {fill: yellow;}
    50% {fill: green;}
    75% {fill: blue;}
    100% {fill: red;}
}

.dead {
    fill: black;
}

.fader1 {
    transition: fill var(--fade-in-duration) ease-in;
}

.fader2 {
    transition: fill var(--fade-in-duration) ease-in;
    transition-delay: calc(var(--fade-in-delay)*1);
}
.fader3 {
    transition: fill var(--fade-in-duration) ease-in;
    transition-delay: calc(var(--fade-in-delay)*2);
}
.fader4 {
    transition: fill var(--fade-in-duration) ease-in;
    transition-delay: calc(var(--fade-in-delay)*3);
}
.fader5 {
    transition: fill var(--fade-in-duration) ease-in;
    transition-delay: calc(var(--fade-in-delay)*4);
}
